.jumbotron {
  padding-top: 5rem;
  background-color: #55ff52;
}

#projects {
  background-color: #55ff52;
}

section {
  padding-top: 5rem;
}

.branding {
  font-size: 1.4em;
  font-weight: bold;
}

.bg-ijo {
  background-color: #02c700;
}
